@import "../../stylesheets/_variables";

.button {
  border: none;
  cursor: pointer;
  height: 2rem;
  outline: none;
  white-space: nowrap;
  background-color: $dark-blue;
  color: $white;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
