@import "../../stylesheets/_variables";

.button {
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: "Open sans";
  font-weight: 600;
  justify-content: center;
  margin: 0;
  width: 8rem;
  height: 2rem;
  outline: none !important;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  white-space: nowrap;
}
