@import "../../stylesheets/_variables";

.post-page {
  &__comments {
    padding: 1.5rem;

    &__title {
      padding: 1rem 0;
      color: $light-blue;
      font-size: 1.75rem;
      font-family: 'Raleway';
      font-weight: 600;
    }
  }
}
