@import './flex.scss';
@import './_variables.scss';

body {
  height: 100vh;
  background-color: $dark-gray;
  color: $white;
  font-family: 'Georgia', serif;
  margin: 5rem auto;
  padding: 1rem;
  width: 920px;
}
