@import "../../stylesheets/_variables";

.button-group {
  display: flex;
  justify-content: space-between;
  border: 1px solid $light-blue;
  border-radius: 0.5rem;
  align-items: center;
  height: 1.5rem;
  width: 15rem;
  
  &__item {
    font-size: 1rem;
    flex: 1 1;
    height: 100%;
    border-radius: 0.5rem;
    color: $light-blue;
    line-height: 1.1875rem;
    cursor: pointer;
    border-right: 0.0625rem solid $light-blue;
    font-family: 'Raleway';
    font-weight: 600;
  
    &:last-child {
      border-right: 0;
    }

    &--selected {
      background-color: $light-blue;
      box-shadow: inset 0 0 0.3125rem 0 $dark-blue;
      color: $white;
    }
  }
}
