@import "../../stylesheets/_variables";

.dashboard {
  margin: 5rem auto;
  padding: 1rem;
  width: 920px;

  &__title {
    font-size: 2.5rem;
  }
  
  &__categories {
    margin-top: 1.5rem;
    width: 50%;
  }

  &__buttons {
    margin-top: 1rem;
  }

  &__posts {
    margin-top: 1.5rem;
  }
}
