@import "../../stylesheets/_variables";

.dashboard {
  &__categories {
    padding: 1rem 0;

    .chip {
      margin-right: 1.25rem;
    }
  }

  &__sorts {
    padding: 1rem 0;

    & > .button-group:last-child {
      margin-left: 2rem;
    }
  }

  &__posts {
    margin-top: 1.5rem;
  }

  &__separator {
    color: $light-blue;
    width: 100%;
    opacity: 0.5;
    margin-bottom: 2.5rem;

    &:last-child {
      display: none;
    }
  }
}
