@import "../../stylesheets/_variables";

.chip {
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  border: 1px solid $light-blue;
  color: $light-blue;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  
  &:hover {
    background: $gray;
  }
}
