@import "../../stylesheets/_variables";

.post {
  margin-bottom: 2rem;

  &__title {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: $light-blue;
    font-family: 'Raleway';
    font-weight: 900;
  }

  &__information {
    span {
      margin-right: 1rem;
      color: $gray;
    }
  }

  &__category {
    & > .chip {
      font-size: 0.75rem;
      padding: 0 0.5rem;
      line-height: 1rem;
      height: 1rem;
      cursor: default;
    }
  }

  &__body {
    padding: 1rem 0;
    text-align: justify;
    font-size: 1.25rem;
    width: 90%;

    &--compact {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__responses {
    color: $light-blue;
    font-family: 'Raleway';
    font-weight: 500;
  }
}
